@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

main {
    min-height : 80vh;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bolder;
}

h3 {
    padding: 1rem 0;
}

span:first-of-type {
    margin: 0 0.1rem 0 0;
}

span {
    margin: 0 0.1rem;
}

/* fixed card height and fixed Price at the bottom of the cards on Home Screen */
@media (min-width: 576px) {
    .homeCard {
        height: 383px;
    }

    .homeCardPrice {
        position: absolute;
        bottom  : 10px;
    }
}

@media (min-width: 992px) {
    .productScreenPanel {
        width : 50%;
        margin: auto;
    }
}

@media (max-width: 992px) {
    .productScreenPanel {
        width : 70%;
        margin: auto;
    }
}

h1 {
    font-size: 1.8rem;
    padding  : 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding  : 0.5rem 0;
}

.subtotal {
    text-align: center;
}